@model List<Category>

<div class="container">

<h1>All Categories</h1>
</div>
<table class="table table-striped container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category ID</th>
      <th scope="col">Category Name</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
          <tr>
              <td>@item.id</td>
              <td>@item.category_name</td>
          </tr>
      }
    
    
  </tbody>
</table>
